<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=11"/>
<meta name="generator" content="Doxygen 1.9.8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>VSF Documented: source/shell/sys/espidf/include/sdkconfig.h 文件参考</title>
<link href="tabs.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="dynsections.js"></script>
<link href="doxygen.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top"><!-- do not remove this div, it is closed by doxygen! -->
<div id="titlearea">
<table cellspacing="0" cellpadding="0">
 <tbody>
 <tr id="projectrow">
  <td id="projectalign">
   <div id="projectname">VSF Documented
   </div>
  </td>
 </tr>
 </tbody>
</table>
</div>
<!-- end header part -->
<!-- 制作者 Doxygen 1.9.8 -->
  <div id="navrow1" class="tabs">
    <ul class="tablist">
      <li><a href="index.html"><span>首页</span></a></li>
      <li><a href="pages.html"><span>相关页面</span></a></li>
      <li><a href="topics.html"><span>Topics</span></a></li>
      <li><a href="namespaces.html"><span>命名空间</span></a></li>
      <li><a href="annotated.html"><span>结构体</span></a></li>
      <li class="current"><a href="files.html"><span>文件</span></a></li>
      <li><a href="examples.html"><span>示例</span></a></li>
    </ul>
  </div>
  <div id="navrow2" class="tabs2">
    <ul class="tablist">
      <li><a href="files.html"><span>文件列表</span></a></li>
      <li><a href="globals.html"><span>全局定义</span></a></li>
    </ul>
  </div>
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_b2f33c71d4aa5e7af42a1ca61ff5af1b.html">source</a></li><li class="navelem"><a class="el" href="dir_a66b54d9ccb7ac68fb96537b4100fe7c.html">shell</a></li><li class="navelem"><a class="el" href="dir_9193a593b30f234791fce6fa4e720ba0.html">sys</a></li><li class="navelem"><a class="el" href="dir_67078002197479e597ae23208194ae3e.html">espidf</a></li><li class="navelem"><a class="el" href="dir_368c75ff2ea44ed7d865b13e1d69fdba.html">include</a></li>  </ul>
</div>
</div><!-- top -->
<div class="header">
  <div class="summary">
<a href="#define-members">宏定义</a>  </div>
  <div class="headertitle"><div class="title">sdkconfig.h 文件参考</div></div>
</div><!--header-->
<div class="contents">
<div class="textblock"><code>#include &quot;<a class="el" href="vsf__espidf__cfg_8h_source.html">../vsf_espidf_cfg.h</a>&quot;</code><br />
</div>
<p><a href="sdkconfig_8h_source.html">浏览源代码.</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="define-members" name="define-members"></a>
宏定义</h2></td></tr>
<tr class="memitem:aa0d594c35bf10019199c2cfcd40a3547" id="r_aa0d594c35bf10019199c2cfcd40a3547"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#aa0d594c35bf10019199c2cfcd40a3547">CONFIG_IDF_TARGET_LINUX</a>&#160;&#160;&#160;1</td></tr>
<tr class="separator:aa0d594c35bf10019199c2cfcd40a3547"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a72afb54fc71274e23282847ec28eb359" id="r_a72afb54fc71274e23282847ec28eb359"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a72afb54fc71274e23282847ec28eb359">CONFIG_IDF_TARGET</a>&#160;&#160;&#160;&quot;linux&quot;</td></tr>
<tr class="separator:a72afb54fc71274e23282847ec28eb359"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b08afde973cd93ac2dfb8e36f347580" id="r_a4b08afde973cd93ac2dfb8e36f347580"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a4b08afde973cd93ac2dfb8e36f347580">CONFIG_IDF_TARGET_ARCH_XTENSA</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a4b08afde973cd93ac2dfb8e36f347580"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad578231122f762b541492e0d076e74b4" id="r_ad578231122f762b541492e0d076e74b4"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#ad578231122f762b541492e0d076e74b4">CONFIG_IDF_TARGET_ARCH_RISCV</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:ad578231122f762b541492e0d076e74b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0d594c35bf10019199c2cfcd40a3547" id="r_aa0d594c35bf10019199c2cfcd40a3547"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#aa0d594c35bf10019199c2cfcd40a3547">CONFIG_IDF_TARGET_LINUX</a>&#160;&#160;&#160;1</td></tr>
<tr class="separator:aa0d594c35bf10019199c2cfcd40a3547"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b0bc50fa158faed1387cc8c0aa2b3c3" id="r_a7b0bc50fa158faed1387cc8c0aa2b3c3"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a7b0bc50fa158faed1387cc8c0aa2b3c3">CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a7b0bc50fa158faed1387cc8c0aa2b3c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac2e3ee8f48e41a45700373ade5b3b3de" id="r_ac2e3ee8f48e41a45700373ade5b3b3de"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#ac2e3ee8f48e41a45700373ade5b3b3de">CONFIG_COMPILER_OPTIMIZATION_PERF</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:ac2e3ee8f48e41a45700373ade5b3b3de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1add043295712420cd2167e38caaeb6b" id="r_a1add043295712420cd2167e38caaeb6b"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a1add043295712420cd2167e38caaeb6b">CONFIG_COMPILER_STATIC_ANALYZER</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a1add043295712420cd2167e38caaeb6b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4d5735eae4c1ce8cb2d3409018a5c4fd" id="r_a4d5735eae4c1ce8cb2d3409018a5c4fd"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a4d5735eae4c1ce8cb2d3409018a5c4fd">CONFIG_SOC_RTC_FAST_MEM_SUPPORTED</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a4d5735eae4c1ce8cb2d3409018a5c4fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f8fa58f1bf49bcb529c3201b45f4160" id="r_a9f8fa58f1bf49bcb529c3201b45f4160"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a9f8fa58f1bf49bcb529c3201b45f4160">CONFIG_SOC_RTC_SLOW_MEM_SUPPORTED</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a9f8fa58f1bf49bcb529c3201b45f4160"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b006bf4b7b8c2b2900d65bc5bbee660" id="r_a7b006bf4b7b8c2b2900d65bc5bbee660"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a7b006bf4b7b8c2b2900d65bc5bbee660">CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a7b006bf4b7b8c2b2900d65bc5bbee660"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab6360a1bf64135177d9e0d6498732f72" id="r_ab6360a1bf64135177d9e0d6498732f72"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#ab6360a1bf64135177d9e0d6498732f72">CONFIG_SPIRAM_ALLOW_NOINIT_SEG_EXTERNAL_MEMORY</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:ab6360a1bf64135177d9e0d6498732f72"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9b681a0f8e3a4bfacb991474cc429258" id="r_a9b681a0f8e3a4bfacb991474cc429258"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a9b681a0f8e3a4bfacb991474cc429258">CONFIG_SOC_CACHE_INTERNAL_MEM_VIA_L1CACHE</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a9b681a0f8e3a4bfacb991474cc429258"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae90ead521c14c4c88df5a43d003920a2" id="r_ae90ead521c14c4c88df5a43d003920a2"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#ae90ead521c14c4c88df5a43d003920a2">CONFIG_CACHE_L1_CACHE_LINE_SIZE</a>&#160;&#160;&#160;32</td></tr>
<tr class="separator:ae90ead521c14c4c88df5a43d003920a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a52701e68da28796e35016a6790e5b112" id="r_a52701e68da28796e35016a6790e5b112"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="sdkconfig_8h.html#a52701e68da28796e35016a6790e5b112">CONFIG_IDF_CI_BUILD</a>&#160;&#160;&#160;0</td></tr>
<tr class="separator:a52701e68da28796e35016a6790e5b112"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">宏定义说明</h2>
<a id="aa0d594c35bf10019199c2cfcd40a3547" name="aa0d594c35bf10019199c2cfcd40a3547"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0d594c35bf10019199c2cfcd40a3547">&#9670;&#160;</a></span>CONFIG_IDF_TARGET_LINUX <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_IDF_TARGET_LINUX&#160;&#160;&#160;1</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a72afb54fc71274e23282847ec28eb359" name="a72afb54fc71274e23282847ec28eb359"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a72afb54fc71274e23282847ec28eb359">&#9670;&#160;</a></span>CONFIG_IDF_TARGET</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_IDF_TARGET&#160;&#160;&#160;&quot;linux&quot;</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b08afde973cd93ac2dfb8e36f347580" name="a4b08afde973cd93ac2dfb8e36f347580"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b08afde973cd93ac2dfb8e36f347580">&#9670;&#160;</a></span>CONFIG_IDF_TARGET_ARCH_XTENSA</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_IDF_TARGET_ARCH_XTENSA&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad578231122f762b541492e0d076e74b4" name="ad578231122f762b541492e0d076e74b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad578231122f762b541492e0d076e74b4">&#9670;&#160;</a></span>CONFIG_IDF_TARGET_ARCH_RISCV</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_IDF_TARGET_ARCH_RISCV&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa0d594c35bf10019199c2cfcd40a3547" name="aa0d594c35bf10019199c2cfcd40a3547"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0d594c35bf10019199c2cfcd40a3547">&#9670;&#160;</a></span>CONFIG_IDF_TARGET_LINUX <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_IDF_TARGET_LINUX&#160;&#160;&#160;1</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7b0bc50fa158faed1387cc8c0aa2b3c3" name="a7b0bc50fa158faed1387cc8c0aa2b3c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b0bc50fa158faed1387cc8c0aa2b3c3">&#9670;&#160;</a></span>CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac2e3ee8f48e41a45700373ade5b3b3de" name="ac2e3ee8f48e41a45700373ade5b3b3de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac2e3ee8f48e41a45700373ade5b3b3de">&#9670;&#160;</a></span>CONFIG_COMPILER_OPTIMIZATION_PERF</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_COMPILER_OPTIMIZATION_PERF&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1add043295712420cd2167e38caaeb6b" name="a1add043295712420cd2167e38caaeb6b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1add043295712420cd2167e38caaeb6b">&#9670;&#160;</a></span>CONFIG_COMPILER_STATIC_ANALYZER</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_COMPILER_STATIC_ANALYZER&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4d5735eae4c1ce8cb2d3409018a5c4fd" name="a4d5735eae4c1ce8cb2d3409018a5c4fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4d5735eae4c1ce8cb2d3409018a5c4fd">&#9670;&#160;</a></span>CONFIG_SOC_RTC_FAST_MEM_SUPPORTED</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_SOC_RTC_FAST_MEM_SUPPORTED&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9f8fa58f1bf49bcb529c3201b45f4160" name="a9f8fa58f1bf49bcb529c3201b45f4160"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f8fa58f1bf49bcb529c3201b45f4160">&#9670;&#160;</a></span>CONFIG_SOC_RTC_SLOW_MEM_SUPPORTED</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_SOC_RTC_SLOW_MEM_SUPPORTED&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7b006bf4b7b8c2b2900d65bc5bbee660" name="a7b006bf4b7b8c2b2900d65bc5bbee660"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b006bf4b7b8c2b2900d65bc5bbee660">&#9670;&#160;</a></span>CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab6360a1bf64135177d9e0d6498732f72" name="ab6360a1bf64135177d9e0d6498732f72"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab6360a1bf64135177d9e0d6498732f72">&#9670;&#160;</a></span>CONFIG_SPIRAM_ALLOW_NOINIT_SEG_EXTERNAL_MEMORY</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_SPIRAM_ALLOW_NOINIT_SEG_EXTERNAL_MEMORY&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9b681a0f8e3a4bfacb991474cc429258" name="a9b681a0f8e3a4bfacb991474cc429258"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b681a0f8e3a4bfacb991474cc429258">&#9670;&#160;</a></span>CONFIG_SOC_CACHE_INTERNAL_MEM_VIA_L1CACHE</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_SOC_CACHE_INTERNAL_MEM_VIA_L1CACHE&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae90ead521c14c4c88df5a43d003920a2" name="ae90ead521c14c4c88df5a43d003920a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae90ead521c14c4c88df5a43d003920a2">&#9670;&#160;</a></span>CONFIG_CACHE_L1_CACHE_LINE_SIZE</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_CACHE_L1_CACHE_LINE_SIZE&#160;&#160;&#160;32</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a52701e68da28796e35016a6790e5b112" name="a52701e68da28796e35016a6790e5b112"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52701e68da28796e35016a6790e5b112">&#9670;&#160;</a></span>CONFIG_IDF_CI_BUILD</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define CONFIG_IDF_CI_BUILD&#160;&#160;&#160;0</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
</div><!-- contents -->
<div style="text-align: center; font-size: small; margin-top: 20px;">
  由提交
  <a href="https://github.com/vsfteam/vsf/commit/7573dc340c3d217f9fc818246a339e18f3e01f5b" target="_blank">vsfteam/vsf@7573dc3</a>
  生成
</div>